body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#0a0a0a;
  color:#d6d6d6;;
}

header{
  background:#161313;
  color:white;
  padding:40px;
  text-align:center;
  letter-spacing:2px;
}

section{
  padding:60px 20px;
  max-width:900px;
  margin:auto;
    margin:40px auto;
  background:#0a0a0a;
  border-radius:12px;
    border:1px solid #1f1f1f;
    transition:0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,0.4);
  }

section:hover{
  border-color:#2a2a2a;
}
  
h2{
  background:#1a0000
}

a{
  color:#ff2a2a;
}

p{
  color:#d6d6d6;
}

    .telefon{
  display:inline-block;
  margin-top:10px;
  padding:10px 20px;
  background:#b40000;
  color:black;
  border-radius:8px;
  text-decoration:none;
  font-weight:bold;
  display:inline-block;
  font-size:20px;
}

.telefony{
  margin-top:10px;
  display:flex;
  flex-direction:column;
  gap:10px;
  align-items:center;
}

.tel{
  color:#e0e0e0;
  text-decoration:none;
  font-size:16px;
  font-weight:bold;
  transition:0.3s;
  position:relative;
}

.tel:hover{
  color:#ff2a2a;
  text-shadow:0 0 6px rgba(255,0,0,0.4);
}

.tel::after{
  content:"";
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:-4px;
  width:70%;
  height:2px;
  background:#ff2a2a;
  opacity:0.4;
  transition:0.3s;
}

.tel:hover::after{
  width:100%;
  opacity:0.8;
}

.dojazd{
  display:block;
  width:60%;
  margin:30px auto 50px;
  padding:15px;
  background:#8b0000;
  color:white;
  text-decoration:none;
  border-radius:12px;
  font-weight:bold;
  text-align:center;
  transition:0.3s;
  box-sizing:border-box;
}

.dojazd:hover{
  background:#ff2a2a;
  transform:scale(1.02);
}


nav{
  background:#1a0000;
  border-bottom:1px solid #222;
padding:10px;
text-align:center;
  margin-top:10px;
}

nav a{
  color:white;
  margin:0 15px;
  text-decoration:none;
  transition:0.3s;
    font-size:20px;
  font-weight:bold;
}

nav a:hover{
  color:#d80000;
}

iframe{
  filter: grayscale(30%) contrast(0.9);
}

.zdjecia{
background:#f3f3f3;
padding:30px;
text-align:center;
}

.kontakt{
  background:#111;
  color:white;
padding:30px;
text-align:center;
}



footer{
background:#222;
color:white;
text-align:center;
padding:20px;
}

footer a{
  display:inline-block;
  padding:6px 12px;
  background:#2a2a2a;
  border-radius:6px;
  color:#d6d6d6;
  text-decoration:none;
  transition:0.3s;
}

footer a:hover{
  background:#3a3a3a;
  color:#ff2a2a;
}

.tagline{
  margin:10px auto 10px;
  font-size:16px;
    color:#ffd500;
  text-align:center;
  max-width:600px;
    text-shadow:0 0 6px rgba(255,213,0,0.4);
      font-weight:600;
  letter-spacing:0.5px;
}

.top{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:#000;
  padding:10px 20px;
 border-bottom:1px solid #1a1a1a;
 position:relative;
 min-height:auto;
 overflow:hidden;
  justify-content:center;
}
.top:hover{
  background:#050505;
}

.left{
  display:flex;
  gap:10px;
  margin-left:30px;
  align-items:center;
  flex-shrink:0;
    position:absolute;
  left:20px;
}

.left:hover img{
  opacity:0.5;
}

.left img{
  height:150px;
  filter: drop-shadow(0 0 5px rgba(255,0,0,0.3));
  transition:0.3s;
}
.left img:hover{
  transform:scale(1.4);
    opacity:1;
}

.logo{
  max-width:700px;
  width:100%;
  height:auto;
  animation:logoPulse 3.5s ease-in-out infinite;
  transition:0.3s;
}

.logo:hover{
  transform:scale(1.05);
  filter:drop-shadow(0 0 12px rgba(255,0,0,0.6));
}

@keyframes logoPulse{
  0%,100%{
    filter: drop-shadow(0 0 5px rgba(100,0,0,0.4));
  }

  40%{
    filter: drop-shadow(0 0 12px rgba(180,0,0,0.7));
  }

  60%{
    filter: drop-shadow(0 0 20px rgba(255,0,0,1));
  }
}

.auto{
  height:65px;
  right:30px;
  flex-shrink:0;
  margin-right:10px;
    position:absolute;
  right:20px;
}

.center{
  display:flex;
  flex-direction:column;
  align-items:center;
   flex:1;
   flex-direction:column;
  gap:5px;
}

.oferta{
  background:#0a0a0a;
  padding:60px 20px;
  text-align:center;
}

.oferta h2{
  color:white;
  margin-bottom:30px;
}

.kafelki{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  max-width:900px;
  margin:auto;
}



.box{
  color:white;
  padding:15px;
  border-radius:10px;
  margin-top:10px;
  transition:0.3s;
    box-shadow:0 6px 18px rgba(0,0,0,0.6),
             0 0 10px rgba(255,0,0,0.2);
}

.box:hover{
  background:#ff26009d;
  transform:translateY(-3px) scale(1.02);
    box-shadow:0 10px 30px rgba(0,0,0,0.8),
             0 0 15px rgba(255,0,0,0.4);
}

.box:nth-child(odd){
  background:#7a0000;
}

.box:nth-child(even){
  background:#b30000;
}

.box:nth-child(odd):hover{
  background:#7a0000;
}

.box:nth-child(even):hover{
  background:#b30000;
}

.klik{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-weight:bold;
  cursor:pointer;
}

.arrow{
  transition:0.3s;
}

.content{
  max-height:0;
  overflow:hidden;
  margin-top:10px;
  font-size:14px;
  line-height:1.6;
  transition:max-height 0.3s ease;
}


section h1{
  text-align:center;
  margin-bottom:30px;
}

section h2{
  margin-top:30px;
  color:#ff2a2a;
}

section p{
  margin-top:5px;
  color:#d6d6d6;
}

h2::after{
  content:"";
  display:block;
  height:2px;
  width:60%;
  margin:10px auto 20px;
  border-radius:2px;

  background:linear-gradient(
    90deg,
    #7a0000,
    #888,
    #fff,
    #888,
    #7a0000
  );

  background-size:200% 100%;
  animation:glowLine 3s ease-in-out infinite;
}
 
@keyframes glowLine{
  0%{ background-position:0% 50%; }
  50%{ background-position:100% 50%; }
  100%{ background-position:0% 50%; }
}



  @media (max-width:900px){
  .uslugi{
    grid-template-columns:1fr;
  }

  header{
    padding:20px;
  }

  .left{
    display:none;
  }

  .auto{
    display:none;
  }

  .logo{
    margin:auto;
    width: 90%;
    height: auto;
  }

  .kafelki{
    grid-template-columns:1fr;
  }

  .center{
    position:static;
    transform:none;
    width:100%;
  }

  .tel{
    font-size:18px;
    background:#8b0000;
    padding:10px;
    border-radius:8px;
    width:90%;
    text-align:center;
  }

  nav{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    padding:15px;
  }

  nav a{
    display:block;
    background:#4b4949;
    padding:12px;
    border-radius:10px;
    text-align:center;
    font-size:16px;
    font-weight:bold;
  }

  nav a:hover{
    background:#7a0202;
    transform:scale(1.03);
  }

footer a{
  -webkit-tap-highlight-color: transparent;
}

  .tagline{
    font-size:14px;
    padding:0 10px;
  }
}

